.container {
  background: #ffffff;
}

.icon-smile {
  color: green;
  font-size: 60px;
  height: auto;
  width: auto;
}

.icon-neutral {
  color: orange;
  font-size: 60px;
  height: auto;
  width: auto;
}

.icon-sad {
  color: red;
  font-size: 60px;
  height: auto;
  width: auto;
}

.yellow {
    color: orange;
    text-align: center;
}

.red {
  color: red;
  text-align: center;
}
.green {
  color: green;
  text-align: center;
}

.summary {
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 12px;
  font-weight: 500;
}
