
.content{
    flex:1;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
}

.title{
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
}

.container{
    height: 100%;
    row-gap: 1rem;
    display: flex;
    flex-direction: column;
}