<div class="container mat-elevation-z8">
  <ul class="comment-section">
    <li *ngFor="let comment of comments" class="comment">
      <div class="content">
        <p class="text">{{ comment.content }}</p>
        <!--       <p style="color: red;" *ngIf="comment.sentiment <= 0.4"><b>Negative</b></p>
                <p style="color: orange;" *ngIf="comment.sentiment > 0.4 && comment.sentiment < 0.6"><b>Neutral</b></p>
                <p style="color: green;" *ngIf="comment.sentiment >= 0.6"><b>Positive</b></p>
          -->
      </div>
      <div class="owner">
        <div class="initials">
          {{ comment.ownerInitials }}
        </div>
      </div>
    </li>
  </ul>
  <div class="input-section">
    <mat-form-field appearance="fill" class="field">
      <mat-label>Leave comment</mat-label>
      <textarea matInput [(ngModel)]="textValue" placeholder="Write something..."></textarea>
    </mat-form-field>
    <button mat-fab (click)="addComment()"><mat-icon>send</mat-icon></button>
  </div>
  <app-sentiment-overview [summary]="commentSummary" class="sentiment-overview"></app-sentiment-overview>
</div>

